.chatHeaderWrapper{
    height: 90px;
    color: #222;
    box-shadow: 0 2px 3px rgba(0,0,0,0.37), 1px 2px 3px rgba(0,0,0,0.54);
}

.chatRoom {
    height: 90%;
    display: flex;
    flex-direction: column;
}

router-outlet {
    height: 0;

}